html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-image: url('./img/bg.jpg');
    background-size: cover;
}


.home{
    padding: 200px;
    text-align: center;
  
}



.home h1{
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    color: white;
}


.home p{
    font-weight: 700;
    font-size: 2.3em;
    color: white;
}
/* p tag */
.home #location{
    font-size: 1.2em;
    font-weight: 700;
    color: white;
}

@media only screen and (max-width: 768px) {
    body{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .home{
        padding: 10px;
        width: 100%;
        margin: 5px;
    }
}