.navigationBar{
    display: flex;
    justify-content: space-around;
    background-color: #202021;
    
}
.navigationBar h1{
    font-size: 2em;
    color:orange;
    font-family: 'Pacifico', cursive;
}

.buttonDiv{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navButton{
    font-weight: 700;
    font-size: 1.5em;
    border: none;
    padding: 5px 60px;
    color: white;
    background: transparent;
    cursor: pointer;
}

.navButton:hover{
    color: orange;
}
